.a-map {
	height: 100vh;
	width: 100vw;
}

.a-menubutton {
	position: absolute;
	top: 85vh;
	left: 40vw;
	@include circle(20vw);
	background-color: $dark-grey;
	background-image: url("../assets/images/menu bar.png") !important;
	background-size: 10vw;
	background-repeat: no-repeat;
	background-position: 5vw;
}

.a-timer {
	position: absolute;
	top: 5vh;
	right: 8vw;
	font-size: $font-size-big + 1vh;
}