.a-map {
	height: 100vh;
	width: 100vw;
}

.a-menubutton {
	position: absolute;
	top: 80vh;
	left: 40vw;
	@include circle(20vw);
	background-color: $dark-grey;
	background-image: url("../assets/images/menu bar.png") !important;
	background-size: 10vw;
	background-repeat: no-repeat;
	background-position: 5vw;
}

.a-timer {
	position: absolute;
	top: 5vh;
	right: 8vw;
	font-size: $font-size-big + 1vh;
}

.a-confirm {
	overflow: hidden;
	text-align: center;
}

.a-button_gamemenu {
	background-color: $dark-grey;
	color: $white;
	padding: 14px 20px;
	margin: 1vh 2vw;
	border: none;
	cursor: pointer;
	width: 20vw;
	border-radius: 5px;
	font-family: "jura";
	text-transform: uppercase;
	display: block;
	text-align: center;
	float: left;
}