.a-register {
	text-align: center;
	text-decoration: none;
	color: $dark-grey;
}

.a-google {
	margin-top: 2vh;
	text-align: center;
	text-decoration: none;
	color: $dark-grey;
}

.a-label {
	font-weight: 900;
	font-size: $font-size-big;
	color: $white;
}
