.a-title {
	margin-bottom: 5vh;
	font-size: $font-size-title;
	border-bottom: 2px solid $white;
	padding-bottom: 1vh;
	text-transform: uppercase;
}

.a-statlabel {
	color: $white;
	text-transform: uppercase;
	margin-bottom: 5vh;
}
