.m-data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2vh;
}

.m-historycontainer {
	margin-bottom: 3vh;
	background-color: $dark-grey;
	border-radius: 5px;
	padding: 2vh 3vw;
}

.m-players {
	display: none;
}
