.m-bool {
	position: relative;
	display: flex;
	overflow: hidden;

	input {
		margin: 5px 5px 0;
		border: none;
		border-radius: 5px;
	}

	select {
		height: 3vh;
		width: 125px;
		border-radius: 5px;
	}
}

.m-setting {
	display: flex;
	justify-content: space-between;
}