// Primitive colors
// ------------------------------------------------------------------------- /
$alabaster: #fafafa;
$mercury: #e6e6e6;
$dusty: #999;
$shark: #403f3f;
$good: #4485c7;
$bad: #b92234;

$white: #fff;
$black: #000;

// Contextual colors
// ---
// These are the colors that you're supposed to use.
// ------------------------------------------------------------------------- /
$color-base: $shark;
$border-color: $mercury;

$dark-grey: $shark;
$link-color-primary: $good;
$icon-color-primary: $shark;
$border-color-primary: $mercury;
$background-color: $bad;

$text-color-secondary: $dusty;
$background-color-secondary: $white;

$background-color-overlay: rgba($black, 0.3);
