<div class="o-choose">
	<div class="m-choose">
		<div class="a-choose_title">choose your side</div>
		<div class="m-gb">
		<div class="a-good">good</div>
		<div class="a-bad">bad</div>
		</div>
	</div>
</div>