<div class="o-settings">
  <div class="a-title">
    Create game
  </div>
<form action="" id="form">

  <div class="m-setting">
    <div class="a-statlabel">number of players</div>
    <div class="m-bool">
      <input type="number" name="quantity" min="1" max="20" class="a-personselector" id="persons" placeholder="5" required>
      <img src="../../documents/user-solid.svg" class="a-usericon">
    </div>
  </div>
  <div class="m-setting">
    <div class="a-statlabel">game mode </div>
    <div class="m-bool">
      <select id="gamemode" required>
        <option value="normal">normal mode</option>
        <option value="battle">battle mode</option>
      </select>
    </div>
  </div>
  <div class="m-setting">
    <div class="a-statlabel">duration</div>
    <div class="m-bool">
      <select class="a-timeselector" id="timer" required>
        <option value="5">5:00</option>
        <option value="10">10:00</option>
        <option value="15">15:00</option>
        <option value="20">20:00</option>
      </select>
    </div>
  </div>
<div class="m-setting">
    <div class="a-statlabel">map radius</div>
    <div class="m-bool">
      <input type="number" name="quantity" min="1" max="20" class="a-personselector" id="radius" placeholder="5" required>
      <div>km</div>
    </div>
  </div>
    {{routerLink "lobby" "create game" "a-button_menu"}}
</form>

  {{routerLink "play" "back" "a-button_menu"}}

</div>