<div class="o-login">
  <div class="m-username">
    <div class="a-label">
      <label for="uname">Username</label>
    </div>
    <input type="text" placeholder="Enter Username" name="uname">
  </div>

  <div class="m-password">
    <div class="a-label">
      <label for="psw">Password</label>
    </div>
    <input type="password" placeholder="Enter Password" name="psw">
  </div>

  {{routerLink "mainmenu" "login" "a-button_menu"}}

  <div class="a-register">
    {{routerLink "register" "or register!" ""}}
  </div>

  <div class="a-google">
    <img src="../assets/images/signingoogle.png" alt="">
  </div>
</div>
