<div class="o-play">
<div class="m-username">
    <div class="a-label">
      <label for="uname">Lobby code</label>
    </div>
    <input type="text" placeholder="Enter lobby code" name="uname" style="text-transform: uppercase;">
  </div>
  <button class="a-button" type="submit">{{routerLink "lobby" "join" ""}}</button>
  <button class="a-button" type="submit">{{routerLink "play" "back" ""}}</button>

</div>
