<div class="o-play">
<div class="m-username">
    <div class="a-label">
      <label for="uname">Lobby code</label>
    </div>
    <input type="text" placeholder="Enter lobby code" name="uname" style="text-transform: uppercase;">
  </div>
  {{routerLink "lobby" "join" "a-button_menu"}}
  {{routerLink "play" "back" "a-button_menu"}}

</div>
