<div class="o-settings">
	<div class="a-title">
	</div>
	<div class="m-setting">
		<div class="a-statlabel"></div>
		<div class="m-bool" id="code">
			CODE: ABCD
		</div>
	</div>
	<div class="m-players"></div>
	{{routerLink "game" "start" "a-button_menu"}}
	{{routerLink "mainmenu" "quit" "a-button_menu"}}
</div>