<div class="o-settings">
	<div class="a-title">
	</div>
	<div class="m-setting">
		<div class="a-statlabel"></div>
		<div class="m-bool" id="code">
		</div>
	</div>
	<div class="m-players_lobby"></div>
	<a href="/game" class="a-button_menu" data-navigo="" id="start">start</a>
	<a href="/mainmenu" class="a-button_menu" data-navigo="" id="quit">quit</a>
</div>