<div class="o-settings">
	<div class="a-title">
		Battle mode
	</div>
	<div class="m-setting">
		<div class="a-statlabel">Tikkerboy123</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">Tagger98</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">I'm it</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">WouterJ</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">Sennewanser</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">Beermeister</div>
	</div>
	<button class="a-button" type="submit">{{routerLink "game" "start" ""}}</button>
	<button class="a-button" type="submit">{{routerLink "mainmenu" "quit" ""}}</button>
</div>