<div class="o-login">
  {{routerLink "play" "play" "a-button_menu"}}
  {{routerLink "stats" "stats" "a-button_menu"}}
  {{routerLink "settings" "settings" "a-button_menu"}}
  {{routerLink "login" "logout" "a-button_menu"}}
  <div class="m-theme">
    <div>change theme</div>
    <div class="a-theme" id="theme"></div>
  </div>
</div>