<div class="o-login">
  <button class="a-button_menu" type="submit">{{routerLink "play" "play" ""}}</button>
  <button class="a-button_menu" type="submit">{{routerLink "stats" "stats" ""}}</button>
  <button class="a-button_menu" type="submit">{{routerLink "settings" "settings" ""}}</button>
  <button class="a-button_menu" type="submit">{{routerLink "home" "logout" ""}}</button>
</div>
