<div class="o-play">
  <button class="a-button_menu" type="submit">{{routerLink "join" "join game" ""}}</button>
  <button class="a-button_menu" type="submit">{{routerLink "create game" "create game" ""}}</button>
  <button class="a-button_menu" type="submit">{{routerLink "mainmenu" "back" ""}}</button>
</div>