<div class="o-settings">
	<div class="a-title">
		Settings
	</div>
	<div class="m-setting">
		<div class="a-statlabel"></div>
		<div class="m-bool">
			on off
		</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">sound</div>
		<div class="m-bool">
			<input type="radio" name="sound" checked>
			<input type="radio" name="sound">
		</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">vibration</div>
		<div class="m-bool">
			<input type="radio" name="vib">
			<input type="radio" name="vib" checked>
		</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">notifications</div>
		<div class="m-bool">
			<input type="radio" name="not" checked>
			<input type="radio" name="not">
		</div>
	</div>
	<button class="a-button" type="submit">{{routerLink "mainmenu" "back" ""}}</button>
</div>