<div class="o-settings">
	<div class="a-title">
		Stats
	</div>
	<div class="m-name">
		<div class="a-username">Username123</div>
		<img src="../../documents/user-solid.svg" class="a-usericon">
	</div>
	<div class="m-setting">
		<div class="a-statlabel">time played</div>
		<div class="a-stat">
			2d 5h 36m
		</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">games played</div>
		<div class="a-stat">
			264
		</div>
	</div>
	<div class="m-setting">
		<div class="a-statlabel">wins</div>
		<div class="a-stat">
			150
		</div>
	</div>
	{{routerLink "mainmenu" "back" "a-button_menu"}}
</div>